---
---

article {
  > ol {
    list-style-type: lower-latin;
    ol {
      list-style-type: lower-roman;
      ol {
        list-style-type: upper-latin;
        ol {
          list-style-type: upper-roman;
        }
      }
    }
  }
}
