<footer class="SiteFooter">
  <div class="Wrapper SiteFooter--content">
    <div class="flex flex--justifyContent-spaceAround ">
      <div class="SiteFooter-brand">
        {% if site.github_username %}
          <a href="https://github.com/{{ site.github_username }}">
            {% include icons/github.html %}
          </a>
        {% endif %}
        {% if site.twitter_username %}
          <a href="https://twitter.com/{{ site.twitter_username }}">
            {% include icons/twitter.html %}
          </a>
        {% endif %}
        {% if site.facebook_username %}
          <a href="https://facebook.com/{{ site.facebook_username }}">
            {% include icons/facebook.html %}
          </a>
        {% endif %}
        {% if site.email %}
          <a href="mailto:{{ site.email }}">
            {% include icons/email.html %}
          </a>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="Wrapper">
    <p class="SiteFooter--legal">
      &copy; {{ site.time | date: '%Y' }} {{ site.title }} All rights reserved.
      &middot; Indomitable city. Indomitable community.
      &middot; <a href="/privacy_policy">Privacy Policy</a>
      &middot; <a href="/terms_and_conditions">Terms & Conditions</a>
    </p>
  </div>
</footer>
