{% assign pages = site.pages | sort:'rank'  %}
<header class="SiteHeader SiteHeader--{{ page.header }}">
  <div class="flex Wrapper">
    <a class="SiteTitle" href="{{ site.baseurl }}/">
      {{ site.title }}
    </a>
    <nav class="flex flex--grow-1 PrimaryNavigation">
      {% for page in pages %}
        {% if page.rank %}
          <a class="PageLink" href="{{ page.url | prepend: site.baseurl }}">
            {{ page.title }}
          </a>
        {% endif %}
      {% endfor %}
    </nav>
  </div>
</header>
